# Store contents
store.json

# Rendered theme file
theme.mustache

# Tmp
tmp

# Sass stuff
.sass-cache*

# Node modules
node_modules

# Vendor
vendor

# Compiled CSS and JS
static/assets/dist

# VCR cassettes
spec/fixtures/vcr_cassettes

# Env vars
.envrc
