<script async src="https://cdn.klarna.com/1.0/code/client/all.js"></script>


<div id="fb-root"></div>

<!--[if !IE|gt IE 9]><!-->
<iframe name="tt_colophon" id="tt_colophon" src="https://tictail.com/cart/konginitiative?tt_locale=en"
    style="position: fixed; z-index: 9999; top: 0; right: 0;
    height: 37px; overflow: hidden; background: none; border: 0;"></iframe>
<!--<![endif]-->
<!--[if lte IE 9]>
<iframe name="tt_colophon" id="tt_colophon" src="https://tictail.com/cart/konginitiative?tt_locale=en"
    style="position: fixed; z-index: 9999; top: 0; right: 0;
    height: 37px; overflow: hidden; background: none; border: 0;"
    scrolling="no" frameBorder="0" allowTransparency="true"></iframe>
<![endif]-->
<script>
var __ttBaseUrl = 'https://tictail.com',
    __ttColophonUrl = 'https://tictail.com/cart/konginitiative?tt_locale=en',
    __ttSearchUrl = 'http://www.konginitiative.com/search',
    __ttAssetsUrl = '//app.ttcdn.co/theme_assets',
    __ttLocaleData = {},
    __ttSubdomain = 'konginitiative',
    __ttAnalyticsId = 'UA-26369943-12',
    __ttSession = {"track": {"storefront_utm_medium": null, "storefront_utm_content": null, "storefront_utm_term": null, "storefront_utm_campaign": null, "storefront_utm_source": null, "storefront_referrer": null}, "behaviors": {}, "cdn": "none", "experiments": {}};
</script>
<script src="//dmb7ixdwya1nh.cloudfront.net/static/js/v1/storefront/json.v-ec33eba9f2.js"></script>
<script src="//dmb7ixdwya1nh.cloudfront.net/static/js/storefront/mustache.v-b5febf1682.js"></script>
<script src="//dmb7ixdwya1nh.cloudfront.net/static/js/storefront/store.v-77ead88332.js"></script>
<script>
TT.store.domReady();
</script>
