{{#about_page}}
  <header class="about-logo">
    <h1><a href="/"><img src="/assets/images/kong2.svg" alt="About The Kong Initiative"></a></h1>
  </header>

  <article class="about-page">
    <div class="hero-text">
      <h2 class="hero-text__title">
        <small class="hero-text__small">Mission</small><br>
        <strong class="hero-text__large">Statement</strong>
      </h2>
    </div>

    <div class="about-page__content">
      <p>At some dark moment in the last two decades, Hobbits took over snowboarding. There are tons of different board brands and models on the market, but only as long as you have small, dainty feet. Only a few brands make boards fit for big, burly, large-footed riders. In Europe it has been virtually impossible to get your ham-sized hands on these boards, since no shops stock them.</p>

      <p>The Kong Initiative aims to change that. We specialize solely in the widest boards on the market. The ones you crave but which are near impossible to find in shops.</p>
    </div>

    <div class="hero-text">
      <h2 class="hero-text__title">
        <small class="hero-text__small">Who is behind</small><br>
        <strong class="hero-text__large">all this?</strong>
      </h2>
    </div>

    <div class="about-page__content about-page__kollegorna">
      <p>The Kong Initiative is an off-shoot of the web agency <a href="https://www.kollegorna.se">Kollegorna</a>.<br>We have our roots in Stockholm, Sweden.</p>
      <div class="about-page__kollegorna__k">
        <ul class="social-links">
          <li>
            <a href="https://www.kollegorna.se"><img src="/assets/images/kollegorna-k.svg" alt="Kollegorna"></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="hero-text">
      <h2 class="hero-text__title">
        <small class="hero-text__small">Customer</small><br>
        <strong class="hero-text__large">support</strong>
      </h2>
    </div>

    <div class="about-page__content about-page__support">
      <p>Shoot of an email and you'll get all the help you need.</p>
      <p><a href="mailto:support@konginitiative.com">support@konginitiative.com</a></p>
    </div>

    <div class="hero-text">
      <h2 class="hero-text__title">
        <small class="hero-text__small">Mountains or jungle</small><br>
        <strong class="hero-text__large">Follow!</strong>
      </h2>
    </div>

    <div class="about-page__content about-page__follow">
      <p>Read the blog…</p>

      <ul class="social-links">
        <li>
          <a href="http://blog.konginitiative.com"><img src="/assets/images/social/tumblr.svg"></a>
        </li>
      </ul>

      <p>…socialize…</p>

      <ul class="social-links">
        <li>
          <a href="https://www.facebook.com/konginitiative"><img src="/assets/images/social/facebook.svg"></a>
        </li>
        <li>
          <a href="https://twitter.com/konginitiative"><img src="/assets/images/social/twitter.svg"></a>
        </li>
        <li>
          <a href="https://instagram.com/konginitiative"><img src="/assets/images/social/instagram.svg"></a>
        </li>
        <li>
          <a href="https://pinterest.com/konginitiative"><img src="/assets/images/social/pinterest.svg"></a>
        </li>
      </ul>

      <p>…or just hang back and wait for awesome email.

      <div class="newsletter">
        <form action="//kollegorna.us1.list-manage.com/subscribe/post?u=849a51f69c41c923729de379e&amp;id=e510852ce6" class="newsletter__form" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
          <h2 class="newsletter__title">News and offers!</h2>

          <input type="email" value="" name="EMAIL" class="newsletter__email" placeholder="Your email" id="mce-EMAIL">

          <div style="position: absolute; left: -5000px;"><input type="text" name="b_849a51f69c41c923729de379e_e510852ce6" tabindex="-1" value=""></div>

          <button class="newsletter__submit" type="submit">Subscribe</button>
          <label class="newsletter__status" for="mce-EMAIL"></label>

        </form>
      </div>
    </div>

    <div class="hero-text">
      <h2 class="hero-text__title">
        <small class="hero-text__small">Kong says</small><br>
        <strong class="hero-text__large">thank you</strong>
      </h2>
    </div>

    <div class="about-page__content about-page__greetings">
      <p>Some special greetings to:</p>

      <p>You! You awesome person!</p>

      <p><img src="/assets/images/heart.svg"></p>

      <p><a href="http://graphicriver.net/user/Dexav23">Deka Sepdian</a> for the top class illustrations.</p>
      <p>You work with him now! Kong most definitely approves.</p>

      <p><img src="/assets/images/heart.svg"></p>

      <p><a href="http://wwf.panda.org/what_we_do/endangered_species/great_apes/gorillas/save_solutions_gorillas/">WWF</a>, <a href="https://give.bornfree.org.uk/products/adopt-chimanuka-and-mugaruka-the-gorillas-258?gclid=CKvy1YfS_cMCFaLOcgodMm8A2g">Born Free</a>, <a href="http://www.wcs.org/saving-wildlife/great-apes/mountain-gorilla.aspx">Wildlife Conservation Society</a> and all other organizations who fights for all gorillas.</p>

      <p><img src="/assets/images/heart.svg"></p>
    </div>

    <div class="hero-text">
      <h2 class="hero-text__title">
        <small class="hero-text__small">Always</small><br>
        <strong class="hero-text__large">remember</strong>
      </h2>
    </div>

    <div class="about-page__content about-page__remember">
      <p>Kong cares.</p>
    </div>
  </article>
{{/about_page}}
