<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{! Add the label of the current navigation item on list pages }}
      {{#list_page}}{{#navigation}}{{#is_current}}- {{label}}{{/is_current}}{{/navigation}}{{/list_page}}
      {{! Add the product title on product pages }}
      {{#product_page}}{{#product}}{{title}} | {{/product}}{{/product_page}}
      {{! Add "About" on the about page }}
      {{#about_page}}{{#lang}}About{{/lang}} | {{/about_page}}

      {{store_name}}
    </title>

    <meta name="viewport" content="width=device-width">

    <link href="//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic,900,300" rel="stylesheet" type="text/css">
    <link href="/assets/dist/application.css" rel="stylesheet" type="text/css">
    <link href="/assets/images/favicon.png" rel="icon" type="image/png">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11425486-11', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>

    <!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("kongmixpanel");</script><!-- end Mixpanel -->
  </head>
  <body>
    <main role="main">
      {{{yield}}}
    </main>

    <footer class="footer" role="contentinfo">
      <div class="footer__links">
        <a href="/">
          {{#lang}}Home{{/lang}}
        </a>

        <a href="/about">
          {{#lang}}About us{{/lang}}
        </a>

        {{#return_policy}}
          {{#lang}}Returns{{/lang}}
        {{/return_policy}}

        {{#terms}}
          {{#lang}}Terms{{/lang}}
        {{/terms}}
      </div>

      <div class="footer__info">
        <div class="footer__logos">
          <ul class="social-links">
            <li>
              <a href="https://www.facebook.com/konginitiative" data-name="Facebook"><img src="/assets/images/social/facebook.svg"></a>
            </li>
            <li>
              <a href="https://twitter.com/konginitiative" data-name="Twitter"><img src="/assets/images/social/twitter.svg"></a>
            </li>
            <li>
              <a href="https://instagram.com/konginitiative" data-name="Instagram"><img src="/assets/images/social/instagram.svg"></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/konginitiative/" data-name="Pinterest"><img src="/assets/images/social/pinterest.svg"></a>
            </li>
            <li>
              <a href="http://blog.konginitiative.com" data-name="Tumblr"><img src="/assets/images/social/tumblr.svg"></a>
            </li>
            <li>
              <img src="/assets/images/klarna.svg" alt="Klarna" class="footer__logos__klarna" title="We offer payment methods from Klarna, making your shopping safer and simpler. You receive the goods before you pay, and you can use your preferred payment method.">
            </li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="/assets/dist/application.min.js"></script>

  </body>
</html>
