<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{! Add the label of the current navigation item on list pages }}
      {{#list_page}}{{#navigation}}{{#is_current}}- {{label}}{{/is_current}}{{/navigation}}{{/list_page}}
      {{! Add the product title on product pages }}
      {{#product_page}}{{#product}}{{title}} | {{/product}}{{/product_page}}
      {{! Add "About" on the about page }}
      {{#about_page}}{{#lang}}About{{/lang}} | {{/about_page}}

      {{store_name}}
    </title>

    <meta name="viewport" content="width=device-width">

    <link href="//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic,900,300" rel="stylesheet" type="text/css">
    <link href="/assets/dist/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main role="main">
      {{{yield}}}
    </main>

    <footer class="footer" role="contentinfo">
      <div class="footer__links">
        <a href="/">
          {{#lang}}Home{{/lang}}
        </a>

        <a href="/about">
          {{#lang}}About us{{/lang}}
        </a>

        {{#return_policy}}
          {{#lang}}Returns{{/lang}}
        {{/return_policy}}

        {{#terms}}
          {{#lang}}Terms{{/lang}}
        {{/terms}}
      </div>

      <div class="footer__info">
        <!--<div class="footer__disclaimer">

        </div>-->

        <div class="footer__logos">
          <img src="/assets/images/klarna.svg" alt="Klarna" class="footer__logos__klarna" title="We offer payment methods from Klarna, making your shopping safer and simpler. You receive the goods before you pay, and you can use your preferred payment method.">
        </div>
      </div>
    </footer>

    <script src="/assets/dist/application.min.js"></script>

    <!-- { {> tictail/misc} } -->

    <!--<script id="theme-builder" src="/theme-builder.js"></script>-->
  </body>
</html>
