<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {{store_name}}
      {{! Add the label of the current navigation item on list pages }}
      {{#list_page}}{{#navigation}}{{#is_current}}- {{label}}{{/is_current}}{{/navigation}}{{/list_page}}
      {{! Add the product title on product pages }}
      {{#product_page}}{{#product}}- {{title}}{{/product}}{{/product_page}}
      {{! Add "About" on the about page }}
      {{#about_page}}- {{#lang}}About{{/lang}}{{/about_page}}
    </title>

    <meta name="viewport" content="width=device-width">

    <link href="//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,700,700italic,900,300" rel="stylesheet" type="text/css">
    <link href="/assets/dist/application.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header class="header">

      <div class="nav">
        <nav class="nav-primary {{#navigation}}{{#is_current}}{{#has_children}}nav-primary--has-subnav{{#children}}{{#is_current}} nav-primary--has-subnav--child-active{{/is_current}}{{/children}}{{/has_children}}{{/is_current}}{{/navigation}}">
          <ul>
              <li class="navigation_item {{#list_page}}{{#no_current_navigation}}selected{{/no_current_navigation}}{{/list_page}}">
                  <a href="{{store_url}}">
                      <i class="icon-th"></i> &nbsp;{{#lang}}All products{{/lang}}
                  </a>
              </li>
              {{#navigation}}
              <li class="navigation_item {{#is_current}}selected{{/is_current}}">
                  <a href="{{url}}">
                      {{label}}
                  </a>
              </li>
              {{/navigation}}

              <li id="about_link" class="store_link {{#about_page}}selected{{/about_page}}">
                  <a href="{{store_url}}/about">
                      <i class="icon-info-sign"></i> &nbsp;{{#lang}}About{{/lang}}
                  </a>
              </li>

              {{#store_blog_url}}
              <li id="blog_link" class="store_link">
                  <a href="{{store_blog_url}}" target="_blank">
                      <i class="icon-globe"></i> &nbsp;{{#lang}}Blog{{/lang}}
                  </a>
              </li>
              {{/store_blog_url}}

              <li class="search_item">
                  {{{search}}}
              </li>
          </ul>
        </nav>
        <!-- / .nav-primary -->

        {{#navigation}}
          {{#is_current}}
            {{#has_children}}
              <nav class="nav-secondary">
                <ul>
                  {{#children}}
                    <li {{#is_current}} class="selected"{{/is_current}}>
                      <a href="{{url}}">
                        {{label}}
                      </a>
                    </li>
                  {{/children}}
                </ul>
              </nav>
            {{/has_children}}
          {{/is_current}}
        {{/navigation}}
      </div>
      <!-- / .nav -->
    </header>

    {{#on_index}}
    <section class="intro">
      <div class="intro__content">

        <div class="intro__image">
          <a href="/"><img src="/assets/images/kong.svg"></a>
        </div>

        <div class="intro__text hero-text">
          <h1 class="hero-text__title">
            <small class="hero-text__small">The</small>
            <strong class="hero-text__large">Kong</strong>
            <small class="hero-text__small">Initiative</small>
          </h1>
          <h2 class="hero-text__subtitle">
            Bringing you the widest snowboards around
            <br>
            Free shipping in the EU!
          </h2>
        </div>
      </div>
    </section>
    {{/on_index}}

    {{^on_index}}

    {{/on_index}}

    <div class="newsletter">

    </div>

    <main role="main">
      {{{yield}}}
    </main>

    {{> tictail/misc}}

    <script src="/assets/dist/application.min.js"></script>
    <script id="theme-builder" src="/theme-builder.js"></script>
  </body>
</html>
