{{#list_page}}
  <main class="products">
    {{#products}}
      <article class="products__product {{#out_of_stock}}products__product--out-of-stock{{/out_of_stock}}" data-id="{{id}}">
        <a href="{{url}}">
          <figure class="product__image">
              {{#primary_image}}
                  <img src="{{url-2000}}" alt="{{title}}">
              {{/primary_image}}
          </figure>
          <div class="products__product__info">
              <h2 class="product__title">{{title}}</h2>

              {{#in_stock}}
                <div class="product__price">
                  {{{price_with_currency}}}
                </div>
              {{/in_stock}}

              {{#out_of_stock}}
                <div class="product__price product__price--out-of-stock">
                  {{#lang}}
                    Out of stock
                  {{/lang}}
                </div>
              {{/out_of_stock}}
          </div>
        </a>
      </article>
    {{/products}}
  </main>
{{/list_page}}
