{{#product_page}}
    <article class="product" itemscope itemtype="http://schema.org/Product">
        {{#product}}

          <figure class="product__image">
              {{#slideshow-500}}{{/slideshow-500}}
          </figure>

          <h1 class="product__title" itemprop="name">{{title}}</h1>

          <div class="product__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <span itemprop="price">{{{price_with_currency}}}</span>

              {{! This is meta data for search engines etc. }}
              <meta itemprop="priceCurrency" content="{{currency_code}}">
              {{#in_stock}}
              <link itemprop="availability" href="http://schema.org/InStock">
              {{/in_stock}}
              {{#out_of_stock}}
              <link itemprop="availability" href="http://schema.org/OutOfStock">
              {{/out_of_stock}}
          </div>


            <section class="details_container">
                <div class="inner_container">




                    <div class="description html_content" itemprop="description">
                        {{{description}}}
                    </div>

                    {{! The #add_to_cart block is only rendered if the product is in stock }}
                    {{#add_to_cart}}
                        <div class="variations_container">
                            {{#variations_select}}{{/variations_select}}
                        </div>
                        <div class="add_to_cart">
                            {{#add_to_cart_button}}
                                {{#lang}}Add to cart{{/lang}}
                            {{/add_to_cart_button}}
                        </div>
                    {{/add_to_cart}}

                    {{! This block will be rendered instead of the #add_to_cart block when the product is out of stock }}
                    {{#out_of_stock}}
                    <div class="out_of_stock">
                        {{#lang}}This product is out of stock{{/lang}}
                    </div>
                    {{/out_of_stock}}

                    <div class="terms">
                        {{#return_policy}}
                            {{#lang}}Return Policy{{/lang}}
                        {{/return_policy}}
                        &nbsp; &nbsp;
                        {{#terms}}
                            {{#lang}}Terms &amp; Conditions{{/lang}}
                        {{/terms}}
                    </div>

                    {{{social_buttons}}}
                </div>
            </section>
        </div>
        {{/product}}
    </article>

{{/product_page}}
