{{#product_page}}
    <header class="logo">
      <a href="/"><img src="/assets/images/kong-logo-bg.svg"></a>
    </header>


        {{#product}}
        <article class="product" itemscope itemtype="http://schema.org/Product" data-id="{{id}}">

          <figure class="product__image">
            <!--{{#slideshow-500}}{{/slideshow-500}}-->
            {{#primary_image}}
              <img src="{{url-2000}}" alt="{{title}}">
            {{/primary_image}}
          </figure>

          <h1 class="product__title" itemprop="name">{{title}}</h1>

          <div class="product__price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <span itemprop="price">{{{price_with_currency}}}</span>

              {{! This is meta data for search engines etc. }}
              <meta itemprop="priceCurrency" content="{{currency_code}}">
              {{#in_stock}}
                <link itemprop="availability" href="http://schema.org/InStock">
              {{/in_stock}}

              {{#out_of_stock}}
                <link itemprop="availability" href="http://schema.org/OutOfStock">
              {{/out_of_stock}}
          </div>

          {{#in_stock}}
            {{#klarna?}}
              <div class="product__klarna">
                {{#klarna}}
                  <a href="https://online.klarna.com/account_se.yaws?eid=29294" onClick="MyWindow=window.open(this.href,'MyWindow','width=600,height=420'); return false;">
                    Pay in monthly installments from {{price}} SEK
                  </a>
                {{/klarna}}
              </div>
            {{/klarna?}}
          {{/in_stock}}

          <div class="product__description" itemprop="description">
            {{{description}}}
          </div>

          <div class="product__actions">
            {{! The #add_to_cart block is only rendered if the product is in stock }}
            {{#add_to_cart}}
                <!--<div class="variations_container">
                    {{#variations_select}}{{/variations_select}}
                </div>-->
                <div class="product__add-to-cart">
                    {{#add_to_cart_button}}
                        {{#lang}}Add to cart{{/lang}}
                    {{/add_to_cart_button}}
                </div>
            {{/add_to_cart}}

            {{! This block will be rendered instead of the #add_to_cart block when the product is out of stock }}
            {{#out_of_stock}}
            <div class="product__out-of-stock">
                {{#lang}}This product is out of stock{{/lang}}
            </div>
            {{/out_of_stock}}

            <div class="product__back-to-products">
              <a href="/">All products</a>
            </div>
          </div>
          <!-- / .product__actions -->
        </div>
        </article>
        {{/product}}


{{/product_page}}
