@import "compass";
@import "breakpoint";

@import "../../../vendor/bower_components/normalize-scss/normalize";

$ds-font-family: 'Titillium Web', sans-serif;

$ds-color-dark: #172F2D;
$ds-color-yellow: #FEE18A;
$ds-color-green: #95D0B7;

*,
*:before,
*:after {
  @include box-sizing(border-box);
  //@include font-smoothing;
}

html {
  background-color: #B0D6FD;
  background-image: radial-gradient(rgba(#000, .025) 15%, transparent 16%),
    radial-gradient(rgba(#000, .025) 15%, transparent 16%);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  color: $ds-color-dark;
  font: 300 100%/1.6 $ds-font-family;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  padding: 0 40px;
}

img {
  height: auto;
  max-width: 100%;
}

// -----------------------------------------------------------------------------
// Index page intro
// -----------------------------------------------------------------------------

.logo-text {

}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro {
  padding: 50px 0;
  position: relative;

  .hero-text__small,
  .hero-text__large {
    display: block;
  }

  @media (min-width: 1024px) {
    height: 100vh;
    padding: 80px 40px 40px;
  }
}

.intro__content {
  @media (min-width: 1024px) {
    @include centerer;
    width: 100%;
  }
}

.intro__image {
  @media (min-width: 480px) {
    float: left;
    width: 40%;
  }
}

.intro__text {
  text-align: center;

  @media (min-width: 1024px) {
    float: right;
    padding-left: 40px;
    width: 60%;

    h1 {
      padding: 60px 0 0;
    }
  }
}

.nav {
  display: none;
}

.newsletter {

}

.logo {
  padding: 60px 0;
  text-align: center;

  img {
    max-width: 160px;
  }
}

// -----------------------------------------------------------------------------
// Hero text
// -----------------------------------------------------------------------------

.hero-text {

}

.hero-text__title {
  font-size: 96px;
  font-weight: 900;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

.hero-text__subtitle {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
}

.hero-text__small {
  display: inline-block;
  font-size: 56px;
  text-shadow: $ds-color-yellow 1px 1px 0, $ds-color-yellow 2px 2px 0, $ds-color-green 3px 3px 0, $ds-color-green 4px 4px 0;
}

.hero-text__large {
  display: inline-block;
  font-weight: 900;
  text-shadow: $ds-color-yellow 1px 1px 0, $ds-color-yellow 2px 2px 0, $ds-color-green 3px 3px 0, $ds-color-green 4px 4px 0, $ds-color-green 5px 5px 0;
}

// -----------------------------------------------------------------------------
// Product
// -----------------------------------------------------------------------------

.product {
  text-align: center;
}

.product__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  position: relative;
  margin-bottom: 60px;
  text-align: center;
  z-index: 100;

  &:after {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100%;
    opacity: .5;
    position: absolute;
    right: -10px;
    top: 10px;
    width: 100%;
    z-index: 1;
  }

  &:nth-child(odd) {
    background-image: url('/assets/images/bg-1.svg');

    &:after {
      background-image: url('/assets/images/bg-1.svg');
    }
  }

  &:nth-child(even) {
    background-image: url('/assets/images/bg-2.svg');

    &:after {
      background-image: url('/assets/images/bg-2.svg');
    }
  }

  img {
    position: relative;
    z-index: 100;
  }
}

.product__title {
  color: $ds-color-dark;
  font-size: 56px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 600px;
  margin: 0 auto 20px;
  text-shadow: $ds-color-yellow 1px 1px 0, $ds-color-yellow 2px 2px 0, $ds-color-green 3px 3px 0, $ds-color-green 4px 4px 0;
  text-transform: uppercase;
}

.product__price {
  @include border-radius(15px);
  box-shadow: $ds-color-green 2px 1px 0, $ds-color-green 2px 2px 0;
  background: $ds-color-dark;
  border-bottom: 2px solid $ds-color-yellow;
  color: $ds-color-yellow;
  display: inline-block;
  line-height: 30px;
  padding: 0 14px;
}

.product__price--out-of-stock {
  opacity: .5;
}

.product__description {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: left;
}

.product__actions {
  margin-bottom: 60px;
  text-align: center;
}

.product__add-to-cart button {
  @include border-radius(30px);
  box-shadow: $ds-color-yellow 1px 1px 0, $ds-color-yellow 2px 2px 0, $ds-color-yellow 3px 3px 0, $ds-color-yellow 4px 4px 0, $ds-color-green 5px 5px 0, $ds-color-green 6px 6px 0, $ds-color-green 7px 7px 0, $ds-color-green 8px 8px 0;
  background: $ds-color-dark;
  border: 0;
  color: $ds-color-yellow;
  display: inline-block;
  font-size: 42px;
  font-weight: 900;
  line-height: 72px;
  padding: 0 28px;
  text-transform: uppercase;
}

.product__terms {
  a {
    color: $ds-color-dark;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;

    &:last-child {
      margin-right: 0;
    }
  }
}

// -----------------------------------------------------------------------------
// Product listing
// -----------------------------------------------------------------------------

.products {
  .product__image {
    margin-bottom: 40px;
  }
}

.products__product {
  margin-bottom: 160px;
  position: relative;

  a {
    color: $ds-color-dark;
    display: block;
    text-decoration: none;

  }
}

.products__product[data-id="2042320"],
.products__product[data-id="940250"],
.products__product[data-id="940281"] {
  float: left;
  margin-right: 5%;
  width: 30%;

  h2 {
    font-size: 24px;
    text-shadow: $ds-color-yellow 1px 1px 0, $ds-color-green 2px 2px 0;
  }
}

.products__product[data-id="940281"] {
  margin-right: 0;
}

.products__product__info {
  text-align: center;
}

// -----------------------------------------------------------------------------
// About page
// -----------------------------------------------------------------------------

.about-logo {
  padding: 120px 0 60px;
  text-align: center;

  a {
    background: rgba($ds-color-dark, .5);
    border-radius: 50%;
    display: inline-block;
    height: 260px;
    line-height: 260px;
    text-align: center;
    width: 260px;
  }

  img {
    max-width: 240px;
  }
}

.about-page {
  text-align: center;
}

.about-page__content {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px 0;
  text-align: left;
}
